@font-face {
  font-family: "mindcraft-flow-win-iconfont"; /* Project id 4787872 */
  src: url('iconfont.woff2?t=1777346645747') format('woff2'),
       url('iconfont.woff?t=1777346645747') format('woff'),
       url('iconfont.ttf?t=1777346645747') format('truetype');
}

.mindcraft-flow-win-iconfont {
  font-family: "mindcraft-flow-win-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mindcraft-claude1:before {
  content: "\e6c1";
}

.icon-mindcraft-markdown:before {
  content: "\e6bf";
}

.icon-mindcraft-a-zu6181:before {
  content: "\e6be";
}

.icon-mindcraft-a-zu6182:before {
  content: "\e6bb";
}

.icon-mindcraft-a-zu6183:before {
  content: "\e6bc";
}

.icon-mindcraft-a-zu6178:before {
  content: "\e6bd";
}

.icon-mindcraft-gequ2:before {
  content: "\e6b3";
}

.icon-mindcraft-bianji3:before {
  content: "\e6b4";
}

.icon-mindcraft-dongzuo2:before {
  content: "\e6b5";
}

.icon-mindcraft-gushi:before {
  content: "\e6b6";
}

.icon-mindcraft-dongzuo:before {
  content: "\e6b7";
}

.icon-mindcraft-gushi2:before {
  content: "\e6b8";
}

.icon-mindcraft-gequ:before {
  content: "\e6b9";
}

.icon-mindcraft-shangchuan1:before {
  content: "\e6ba";
}

.icon-mindcraft-biaoqing:before {
  content: "\e6af";
}

.icon-mindcraft-taiciyinpin1:before {
  content: "\e6b0";
}

.icon-mindcraft-tiqudiyizhen:before {
  content: "\e6b1";
}

.icon-mindcraft-shangchuanshipin1:before {
  content: "\e6b2";
}

.icon-mindcraft-a-zu5929:before {
  content: "\e6ae";
}

.icon-mindcraft-shangchuan:before {
  content: "\e6ad";
}

.icon-mindcraft-a-lianhe187:before {
  content: "\e6ab";
}

.icon-mindcraft-taiciyinpin:before {
  content: "\e6ac";
}

.icon-mindcraft-yuyan:before {
  content: "\e6aa";
}

.icon-mindcraft-duotucankao:before {
  content: "\e6a7";
}

.icon-mindcraft-shipinhuamiankuozhan:before {
  content: "\e6a8";
}

.icon-mindcraft-shanchu1:before {
  content: "\e6a9";
}

.icon-mindcraft-shipinyanzhan:before {
  content: "\e6a3";
}

.icon-mindcraft-tianjia1:before {
  content: "\e6a4";
}

.icon-mindcraft-shipinzhonghui:before {
  content: "\e6a5";
}

.icon-mindcraft-jububianji1:before {
  content: "\e6a6";
}

.icon-mindcraft-zhishikuleixing:before {
  content: "\e6a2";
}

.icon-mindcraft-wodezhishiku:before {
  content: "\e695";
}

.icon-mindcraft-bianji2:before {
  content: "\e696";
}

.icon-mindcraft-shanchu:before {
  content: "\e697";
}

.icon-mindcraft-fenxiang1:before {
  content: "\e698";
}

.icon-mindcraft-guanzhushu1:before {
  content: "\e699";
}

.icon-mindcraft-miaoshu:before {
  content: "\e69a";
}

.icon-mindcraft-shiyongzhinan:before {
  content: "\e69b";
}

.icon-mindcraft-fenduanfangshi:before {
  content: "\e69c";
}

.icon-mindcraft-moxing:before {
  content: "\e69d";
}

.icon-mindcraft-fenduandaxiao:before {
  content: "\e69e";
}

.icon-mindcraft-dangqianzhishiku:before {
  content: "\e69f";
}

.icon-mindcraft-chuangjianzhishiku:before {
  content: "\e6a0";
}

.icon-mindcraft-ID:before {
  content: "\e6a1";
}

.icon-mindcraft-xuanzeshangchuanwenjian:before {
  content: "\e68f";
}

.icon-mindcraft-mingcheng:before {
  content: "\e690";
}

.icon-mindcraft-zhishikuguangchang:before {
  content: "\e691";
}

.icon-mindcraft-xinxi:before {
  content: "\e692";
}

.icon-mindcraft-shifougongxiang:before {
  content: "\e693";
}

.icon-mindcraft-xiangliangshujuku:before {
  content: "\e694";
}

.icon-mindcraft-AItupianbianji:before {
  content: "\e68e";
}

.icon-mindcraft-AIshengchengbiaoqing:before {
  content: "\e68c";
}

.icon-mindcraft-niantiebingzhongzhi:before {
  content: "\e68d";
}

.icon-mindcraft-xinjianbingniantie:before {
  content: "\e68b";
}

.icon-mindcraft-baocun1:before {
  content: "\e689";
}

.icon-mindcraft-shengcheng:before {
  content: "\e68a";
}

.icon-mindcraft-gaoqing:before {
  content: "\e67e";
}

.icon-mindcraft-tupianbianji:before {
  content: "\e67f";
}

.icon-mindcraft-xiaochu:before {
  content: "\e680";
}

.icon-mindcraft-jububianji:before {
  content: "\e681";
}

.icon-mindcraft-koutu:before {
  content: "\e682";
}

.icon-mindcraft-huabixi:before {
  content: "\e683";
}

.icon-mindcraft-kuaisuxuanze:before {
  content: "\e684";
}

.icon-mindcraft-huabi1:before {
  content: "\e685";
}

.icon-mindcraft-xiangpica:before {
  content: "\e686";
}

.icon-mindcraft-huabicu:before {
  content: "\e687";
}

.icon-mindcraft-guanbi:before {
  content: "\e688";
}

.icon-mindcraft-bianji1:before {
  content: "\e67d";
}

.icon-mindcraft-taici:before {
  content: "\e67c";
}

.icon-mindcraft-nichengditu:before {
  content: "\e67b";
}

.icon-mindcraft-zuo:before {
  content: "\e678";
}

.icon-mindcraft-you:before {
  content: "\e679";
}

.icon-mindcraft-tianjia:before {
  content: "\e67a";
}

.icon-mindcraft-huaban:before {
  content: "\e677";
}

.icon-mindcraft-shangchuanshipin:before {
  content: "\e676";
}

.icon-mindcraft-bofang:before {
  content: "\e674";
}

.icon-mindcraft-zanting:before {
  content: "\e675";
}

.icon-mindcraft-yingyong:before {
  content: "\e66f";
}

.icon-mindcraft-xiaochengxu:before {
  content: "\e670";
}

.icon-mindcraft-kaifazhepingtai:before {
  content: "\e671";
}

.icon-mindcraft-fenxiang:before {
  content: "\e672";
}

.icon-mindcraft-AIliaotian:before {
  content: "\e673";
}

.icon-mindcraft-zhinengduihua:before {
  content: "\e66e";
}

.icon-mindcraft-yinsekelong1:before {
  content: "\e663";
}

.icon-mindcraft-yinseliebiao1:before {
  content: "\e664";
}

.icon-mindcraft-ceshiwenben1:before {
  content: "\e665";
}

.icon-mindcraft-shangchuanyinpin1:before {
  content: "\e666";
}

.icon-mindcraft-xuanzeyinse1:before {
  content: "\e667";
}

.icon-mindcraft-shengchengshili1:before {
  content: "\e668";
}

.icon-mindcraft-zidongshengcheng1:before {
  content: "\e669";
}

.icon-mindcraft-yinseqiehuan1:before {
  content: "\e66a";
}

.icon-mindcraft-zaixianluyin1:before {
  content: "\e66b";
}

.icon-mindcraft-yinsemiaoshu1:before {
  content: "\e66c";
}

.icon-mindcraft-yinsemingcheng1:before {
  content: "\e66d";
}

.icon-mindcraft-a-zu2054:before {
  content: "\e65f";
}

.icon-mindcraft-a-zu2053:before {
  content: "\e660";
}

.icon-mindcraft-a-zu2052:before {
  content: "\e661";
}

.icon-mindcraft-a-zu2051:before {
  content: "\e662";
}

.icon-mindcraft-beishang:before {
  content: "\e65b";
}

.icon-mindcraft-biaoqian:before {
  content: "\e65c";
}

.icon-mindcraft-bianji:before {
  content: "\e65d";
}

.icon-mindcraft-baocun:before {
  content: "\e65e";
}

.icon-mindcraft-shengcheng2Ddonghua:before {
  content: "\e64a";
}

.icon-mindcraft-nicheng:before {
  content: "\e64b";
}

.icon-mindcraft-jiaosesheding:before {
  content: "\e64c";
}

.icon-mindcraft-jingya:before {
  content: "\e64d";
}

.icon-mindcraft-goutongfengge:before {
  content: "\e64e";
}

.icon-mindcraft-haipa:before {
  content: "\e64f";
}

.icon-mindcraft-gaoxing:before {
  content: "\e650";
}

.icon-mindcraft-fennu:before {
  content: "\e651";
}

.icon-mindcraft-huifu:before {
  content: "\e652";
}

.icon-mindcraft-guanzhushu:before {
  content: "\e653";
}

.icon-mindcraft-jiaoseID:before {
  content: "\e654";
}

.icon-mindcraft-chexiao:before {
  content: "\e655";
}

.icon-mindcraft-fuzhi1:before {
  content: "\e656";
}

.icon-mindcraft-fanhui1:before {
  content: "\e657";
}

.icon-mindcraft-faxian:before {
  content: "\e658";
}

.icon-mindcraft-chuangjian:before {
  content: "\e659";
}

.icon-mindcraft-ceshiwenben:before {
  content: "\e65a";
}

.icon-mindcraft-zidongshengcheng:before {
  content: "\e639";
}

.icon-mindcraft-yonghudangan:before {
  content: "\e63a";
}

.icon-mindcraft-AIjiaose:before {
  content: "\e63b";
}

.icon-mindcraft-yinsemiaoshu:before {
  content: "\e63c";
}

.icon-mindcraft-yinseqiehuan:before {
  content: "\e63d";
}

.icon-mindcraft-zaixianluyin:before {
  content: "\e63e";
}

.icon-mindcraft-yinsemingcheng:before {
  content: "\e63f";
}

.icon-mindcraft-yinseliebiao:before {
  content: "\e640";
}

.icon-mindcraft-xuanzeyinse:before {
  content: "\e641";
}

.icon-mindcraft-xiayibu:before {
  content: "\e642";
}

.icon-mindcraft-yane:before {
  content: "\e643";
}

.icon-mindcraft-xingge:before {
  content: "\e644";
}

.icon-mindcraft-yinsekelong:before {
  content: "\e645";
}

.icon-mindcraft-shengchengshili:before {
  content: "\e646";
}

.icon-mindcraft-shangyibu:before {
  content: "\e647";
}

.icon-mindcraft-shangchuanyinpin:before {
  content: "\e648";
}

.icon-mindcraft-shangchuantupian:before {
  content: "\e649";
}

.icon-mindcraft-AIshengchengxingxiang:before {
  content: "\e637";
}

.icon-mindcraft-zhongxing:before {
  content: "\e638";
}

.icon-mindcraft-small-mode:before {
  content: "\e636";
}

.icon-mindcraft-role-setting:before {
  content: "\e62d";
}

.icon-mindcraft-keyboard:before {
  content: "\e62e";
}

.icon-mindcraft-function-settings:before {
  content: "\e62f";
}

.icon-mindcraft-delete:before {
  content: "\e630";
}

.icon-mindcraft-expand-mode:before {
  content: "\e631";
}

.icon-mindcraft-back:before {
  content: "\e632";
}

.icon-mindcraft-voice-mode:before {
  content: "\e633";
}

.icon-mindcraft-sound-record:before {
  content: "\e634";
}

.icon-mindcraft-send-message:before {
  content: "\e635";
}

.icon-mindcraft-history-record:before {
  content: "\e62c";
}

.icon-mindcraft-shendusikao:before {
  content: "\e62a";
}

.icon-mindcraft-lianwangsousuo:before {
  content: "\e62b";
}

.icon-mindcraft-yiwenshengtu:before {
  content: "\e61b";
}

.icon-mindcraft-wenshengshipin:before {
  content: "\e627";
}

.icon-mindcraft-tushengshipin:before {
  content: "\e628";
}

.icon-mindcraft-AIhuabu:before {
  content: "\e629";
}

.icon-mindcraft-zhixian:before {
  content: "\e61c";
}

.icon-mindcraft-queren:before {
  content: "\e61d";
}

.icon-mindcraft-quxiao:before {
  content: "\e61e";
}

.icon-mindcraft-fanhui:before {
  content: "\e61f";
}

.icon-mindcraft-jiantou:before {
  content: "\e620";
}

.icon-mindcraft-shuruwenzi:before {
  content: "\e621";
}

.icon-mindcraft-xiazai:before {
  content: "\e622";
}

.icon-mindcraft-masaike:before {
  content: "\e623";
}

.icon-mindcraft-juxing:before {
  content: "\e624";
}

.icon-mindcraft-huabi:before {
  content: "\e625";
}

.icon-mindcraft-yuanxing:before {
  content: "\e626";
}

.icon-mindcraft-shezhi:before {
  content: "\e61a";
}

.icon-mindcraft-zhongxinshengcheng:before {
  content: "\e60c";
}

.icon-mindcraft-huiche:before {
  content: "\e60b";
}

.icon-mindcraft-tupianzhuanbiaoge:before {
  content: "\e60a";
}

.icon-mindcraft-tupianzhuanwenzi:before {
  content: "\e60d";
}

.icon-mindcraft-tupianzhuanJSON:before {
  content: "\e60e";
}

.icon-mindcraft-jieshi:before {
  content: "\e60f";
}

.icon-mindcraft-yinyong:before {
  content: "\e610";
}

.icon-mindcraft-fuzhi:before {
  content: "\e611";
}

.icon-mindcraft-langdu:before {
  content: "\e612";
}

.icon-mindcraft-yutupianduihua:before {
  content: "\e613";
}

.icon-mindcraft-moxingxuanze:before {
  content: "\e614";
}

.icon-mindcraft-duihuakuangfuzhi:before {
  content: "\e609";
}

.icon-mindcraft-jinyong:before {
  content: "\e615";
}

.icon-mindcraft-fanyi:before {
  content: "\e616";
}

.icon-mindcraft-dingxuanzhong:before {
  content: "\e617";
}

.icon-mindcraft-a-HTMLdaimafuxiantupian:before {
  content: "\e608";
}

.icon-mindcraft-logo:before {
  content: "\e618";
}

.icon-mindcraft-ding:before {
  content: "\e619";
}

